@tailwind base;

@layer base {
	:root {
		--orbit-radius: 300px;
		--side-width: calc(max(calc(100vw - 1280px), 64px) / 2);
		--nav-height: 72.39px;
		--mobile-nav-height: calc(100dvh - var(--nav-height));
	}

	img {
		@apply inline-block;
	}
}

@tailwind components;
@tailwind utilities;

@layer base {
	.w-fill {
		width: stretch;
	}
	.min-w-fill {
		min-width: stretch;
	}
	.max-w-fill {
		max-width: stretch;
	}
	.h-fill {
		height: stretch;
	}
	.min-h-fill {
		min-height: stretch;
	}
	.max-h-fill {
		max-height: stretch;
	}

	.text-d1,
	.text-d1-mobile,
	.text-d2,
	.text-d2-mobile,
	h1,
	.text-h1,
	.text-h1-mobile,
	h2,
	.text-h2,
	.text-h2-mobile,
	h3,
	.text-h3,
	.text-h3-mobile,
	h4,
	.text-h4,
	.text-h4-mobile,
	h5,
	.text-h5,
	.text-h5-mobile,
	h6,
	.text-h6,
	.text-h6-mobile,
	.text-sub-heading,
	.text-sub-heading-mobile,
	button,
	.text-button,
	.text-button-md,
	.text-button-sm {
		@apply font-space;
	}

	p {
		@apply max-w-[680px] text-body;
	}

	.scrollbar-hidden::-webkit-scrollbar {
		@apply hidden;
	}
}

@media screen and (min-width: 835px) {
	/* Width */
	::-webkit-scrollbar {
		@apply h-1 w-1;
	}

	/* Track */
	::-webkit-scrollbar-track {
		@apply bg-black;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		@apply bg-white;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		@apply bg-yellow;
	}

	/* Corner */
	::-webkit-scrollbar-corner {
		@apply hidden;
	}
}
