@font-face {
	font-family: "Space Grotesk";
	src: url("/fonts/SpaceGrotesk-Var.woff2") format("woff2");
	font-weight: 300 700;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-Var.woff2") format("woff2");
	font-weight: 100 900;
	font-style: oblique -10deg 0deg;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.text-sub-heading,
	.text-sub-heading-mobile {
		@apply font-space;
	}
}
